@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700;6..12,800&display=swap');


.title {
    font-family: "Nunito Sans", sans-serif;
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 123.5%;
}


.main-font {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.small-font {
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 19.5px */
}

.big-font {
    color: #000;
    font-family: "Nunito Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.5%;
}


::-webkit-scrollbar {
    width: 6px;
  
}

::-webkit-scrollbar-track {

    background: #fff;
    padding-top: 20px;

}

::-webkit-scrollbar-thumb {

    background: #D9D9D9;
    border-radius: 12px;
}